<% layout('../shared/layout') -%>

<hgroup class="title">
    <h1><%= title %>.</h1>
    <h2>Create a new account.</h2>
</hgroup>

<form action="/account/register" method="post">
<!--     @Html.AntiForgeryToken() -->
<!--     @Html.ValidationSummary() -->

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
<!--                 @Html.LabelFor(m => m.UserName) -->
<!--                 @Html.TextBoxFor(m => m.UserName) -->
				<label>User Name</label>
                <input type="textbox" id="username" name="username">
				
            </li>
            <li>
<!--                 @Html.LabelFor(m => m.Password) -->
<!--                 @Html.PasswordFor(m => m.Password) -->
				<label>Password</label>
                <input type="textbox" id="password" name="password">
            </li>
            <li>
<!--                 @Html.LabelFor(m => m.ConfirmPassword) -->
<!--                 @Html.PasswordFor(m => m.ConfirmPassword) -->
				<label>Confirm Password</label>
                <input type="textbox" id="confirmPassword" name="confirmPassword">
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
</form>

<!-- @section Scripts { -->
<!--     @Scripts.Render("~/bundles/jqueryval") -->
<!-- } -->
